@mixin btn {
  display: inline-flex;
  padding: 10px 20px;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  border: 2px solid var(--text-dark, #5A5A5A);
  color: var(--text-dark, #5A5A5A);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: transparent;
  cursor: pointer;
}

@mixin button {
  background: var(--h-1, #004A60);
  border: none;
  outline: none;
  width: 380px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 8px;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 120px;
  margin-bottom: 50px;
  cursor: pointer;
}

.reviews {

  h1 {
    color: var(--h-1, #004A60);
    font-family: Abril Fatface;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 89.6px */
  }

  &--review {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 31px;

    &__left {
      width: 32%;
      margin-left: 0;

      &--top {
        display: flex;
        align-items: center;
        gap: 8px;

        button {
          @include btn;
        }
      }

      &--center {
        display: flex;
        align-items: center;
        margin: 32px 0;

        h2 {
          color: #000;
          font-family: Inter;
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: 140%;
          margin-left: 0;
        }

        div {
          display: flex;
          gap: 4px;

          div {
            width: 17px;
            height: 17px;
            background: #3C5F63;
            border-radius: 50%;
          }

          div:nth-child(5) {
            background-color: transparent;
            background-image: conic-gradient(at 50% 0%, white 50%, #3C5F63 0);
            border-radius: 50%;
            position: relative;

            &::before {
              content: '';
              height: 50%;
              background-color: white;
              position: absolute;
              top: 0;

            }
          }

        }

        p {
          color: var(--grey, #5A5A5A);
          font-family: Inter;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%;
        }
      }

      &--excellent {

        div {
          display: flex;
          align-items: center;
          margin-bottom: 16px;

          p:nth-child(1) {
            text-align: start;
            color: var(--grey, #5A5A5A);
            font-family: Montserrat;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            text-transform: capitalize;
            margin-left: 0;
            margin-right: 34px;
            width: 110px;

          }

          p:nth-child(3) {
            color: var(--grey, #5A5A5A);
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            margin-left: 10px;
          }

          div {
            border-radius: 40px;
            background: var(--dark-green, #3C5F63);
            height: 20px;
            margin: 0;
          }
        }
      }
    }

    &__right {
      &--top {
        display: flex;
        align-items: center;
        gap: 148px;

        input {
          padding: 11px 255px 11px 17px;
          border-radius: 41px;
          background: #E5E4E9;
          color: #5A5A5A;
          font-family: Inter;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          border: none;
          outline: none;
        }

        button {
          @include btn;
        }
      }

      &--bottom {
        &__card {
          padding: 32px 0;
          border-bottom: 1px solid var(--grey, #9C9C9C);

          &--top {
            display: flex;
            align-items: start;
            justify-content: space-between;
            width: 100%;

            &__data {
              display: flex;
              align-items: center;
              margin-left: 0;
              gap: 16px;

              h6 {
                color: var(--h-2, #242424);
                font-family: Montserrat;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: 140%; /* 28px */
              }

              p {
                color: var(--grey, #5A5A5A);
                font-family: Montserrat;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%; /* 19.6px */
              }
            }

            &__like {
              display: flex;
              align-items: center;
              margin-right: 50px;

              p {
                color: var(--text-dark, #242424);
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%; /* 19.6px */
              }

              .icon {
                font-size: 22px;
              }
            }
          }

          &--center {
            margin: 17px 0;

            div {
              display: flex;
              width: 90px;
              margin-left: 0;
              margin-bottom: 4px;

              div {
                width: 16px;
                height: 16px;
                background: #3C5F63;
                border-radius: 50%;
              }

            }
          }

          &--bottom {
            margin: 17px 0;

            h6 {
              color: var(--h-2, #242424);
              font-family: Inter;
              font-size: 20px;
              font-style: normal;
              font-weight: 600;
              line-height: 140%;
              margin-bottom: 16px;
            }

            p {
              width: 800px;
              overflow: hidden;
              color: var(--h-2, #242424);
              text-overflow: ellipsis;
              font-family: Montserrat;
              font-size: 20px;
              font-style: normal;
              font-weight: 500;
              line-height: 150%;
              white-space: pre-wrap;
              gap: 20px;
            }
          }

          &--p {
            overflow: hidden;
            color: #5A5A5A;
            text-overflow: ellipsis;
            font-family: Montserrat;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }

          &--img {
            display: flex;
            gap: 38px;
            margin-left: 0;
            margin-bottom: 16px;
          }
        }
      }

      &--dots {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 274px;
        margin-top: 20px;
        margin-left: 20px;

        p {
          color: #242424;
          font-family: Inter;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        div {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 38px;
          height: 38px;
          border-radius: 50%;
          background: #3C5F63;

          p {
            color: var(--bg-light-grey, #E5E4E9);
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

          }
        }

      }
    }
  }

  &--photoModal {
    position: fixed;
    top: 14%;
    z-index: 3;
    background: white;
    width: 80%;

    &__icon {
      font-size: 34px;
      margin-top: 23px;
      margin-left: 94%;
      cursor: pointer;
    }

    h2 {
      color: #000;
      font-family: Montserrat;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-left: 120px;
    }

    &__photo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 77px;
      margin: 49px 120px 32px 120px;

      &--card {
        position: relative;
        width: 268px;
        height: 268px;
        background: #EEEDED;
        display: flex;
        flex-direction: column;
        gap: 8px;
        justify-content: center;

        input {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          opacity: 0;

        }

      }
    }

    button {
      @include button
    }
  }

  &--reviewModal {
    position: fixed;
    top: 3%;
    z-index: 9;
    background: white;
    width: 80%;
    display: flex;
    flex-direction: column;

    &__icon {
      font-size: 34px;
      margin-top: 23px;
      margin-left: 94%;
      cursor: pointer;
    }

    h2 {
      margin-left: 120px;
      color: #000;
      font-family: Montserrat;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

    p {
      margin-left: 120px;
      color: #868889;
      font-family: Montserrat;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.6px;
    }

    &__rating {

      display: flex;
      align-items: center;
      width: 300px;
      margin: 43px 0 33px 120px;

      div {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: 2px solid rgba(60, 95, 99, 1);
        cursor: pointer;
      }
    }

    textarea {
      width: 800px;
      height: 230px;
      flex-shrink: 0;
      border-radius: 9.158px;
      background: #FFF;
      margin-left: 120px;
      padding: 39px 79px;
    }

    button {
      @include button;
      margin-top: 30px;
    }
  }

  &--filterModal {
    position: fixed;
    top: 10%;
    z-index: 3;
    background: white;
    width: 80%;

    &__icon {
      font-size: 34px;
      margin-top: 23px;
      margin-left: 90%;
      cursor: pointer;
      padding-left: 40px;
    }

    h2 {
      color: var(--dark-green, #3C5F63);
      font-family: AG Benguiat Cyr-Bold;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%;
      padding-left: 40px;
    }

    h3 {
      color: #000;
      font-family: Inter;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
      margin: 24px 0 16px 0;
      padding-left: 40px;
    }

    &__rating {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-left: 0;
      padding-left: 40px;

      &--div {
        border-radius: 30px;
        border: 1px solid var(--grey, #5A5A5A);
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 5px 8px;
        margin: 0;

        div {
          width: 16px;
          height: 16px;
          border-radius: 50%;
          border: 1px solid rgba(60, 95, 99, 1);
        }

        div:nth-child(1) {
          background: rgba(60, 95, 99, 1);
        }
      }

      &--div:nth-child(2) {
        div:nth-child(2) {
          background: rgba(60, 95, 99, 1);;
        }
      }

      &--div:nth-child(3) {
        div:nth-child(2) {
          background: rgba(60, 95, 99, 1);;
        }

        div:nth-child(3) {
          background: rgba(60, 95, 99, 1);;
        }
      }

      &--div:nth-child(4) {
        div {
          background: rgba(60, 95, 99, 1);;
        }

        div:nth-child(5) {
          background: none;
        }
      }

      &--div:nth-child(5) {
        div {
          background: rgba(60, 95, 99, 1);;
        }

      }
    }

    &__period {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 882px;
      gap: 14px;
      margin-left: 0;
      padding-left: 40px;

      div {
        border-radius: 30px;
        border: 1px solid var(--grey, #5A5A5A);
        display: flex;
        padding: 8px 14px;
        align-items: center;
        gap: 12px;
        margin: 0;
        color: var(--text-dark, #242424);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
      }
    }

    &__bottom {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: 134px;
      border-top: 1px solid grey;
      padding: 27px 0 48px;
      h6 {
        color: var(--dark-green, #3C5F63);
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        margin-left: 40px;
      }

      button {
        display: inline-flex;
        padding: 8px 41px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 48px;
        background: var(--h-1, #004A60);
        color: var(--bg-light-grey, #E5E4E9);
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        outline: none;
        margin-right: 40px;
      }
    }
  }
}
