@mixin btn {
  display: inline-flex;
  padding: 10px 20px;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  border: 2px solid var(--text-dark, #242424);
  color: var(--text-dark, #242424);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: transparent;
  cursor: pointer;
}

.places {
  ul {
    li {
      color: var(--h-2, #242424);
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  &--input {
    display: flex;
    width: 400px;
    gap: 20px;
    margin: 40px 0 75px 0;

    input {
      display: inline-flex;
      padding: 11px 100px 11px 22px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 8px;
      border: 1px solid var(--h-1, #004A60);
      background: #FCFCFD;
      outline: none;
    }

    button {
      border-radius: 8px;
      background: #004A60;
      display: inline-flex;
      padding: 11px 33px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      color: var(--bg-light-grey, #E5E4E9);
      text-align: center;
      font-family: Montserrat;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      outline: none;
      cursor: pointer;

    }
  }

  &--icons {
    display: flex;
    align-items: center;
    margin-left: 0;
    gap: 117px;
    width: 948px;

    div {
      display: flex;
      flex-direction: column;

      .icon {
        font-size: 68px;
        color: rgba(60, 95, 99, 1);
      }

      p {
        margin-top: 10px;
        text-align: center;
        color: var(--text-dark, #242424);
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 33.6px */
      }
    }
  }

  &--map {
    margin: 75px 0 105px 0;
  }

  h1 {
    color: var(--h-1, #004A60);
    font-family: Abril Fatface;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 89.6px */
  }

  &--review {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 35px;

    &__left {
      width: 31.5%;
      margin-left: 0;

      &--top {
        display: flex;
        align-items: center;
        gap: 8px;

        button {
          @include btn;
        }
      }
    }

    &__right {

      &--top {
        display: flex;
        align-items: center;
        gap: 16px;

        input {
          padding: 11px 255px 11px 17px;
          border-radius: 41px;
          background: #E5E4E9;
          color: #5A5A5A;
          font-family: Inter;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          border: none;
          outline: none;
        }

        button {
          @include btn;
        }
      }
    }
  }

  .slick-slider {
    position: relative;
    width: 100%;
    .slick-prev{
    position: absolute;
    border: none;
    bottom: 15px;
    left: 38%;
    background: white;
    color: transparent;
  }
    .slick-prev::after {
      content: "<";
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 20px;
      font-weight: 600;
      display: block;
      width: 39%;
      height: 100%;
      background:white;
      color: black;
      text-align: center;

      z-index: 1;
    }
    .slick-list {
      overflow: hidden;
      width: 100%;
      .slick-track {
        display: flex;
        gap: 98px;
        width: 100%!important;
        margin-bottom: 50px;
      }
    }
    .slick-next{
      position: absolute;
      border: none;
      left: 56%;


    }
    .slick-next::after {
      content: ">";
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 20px;
      font-weight: 600;
      display: block;
      width: 100%;
      height: 100%;
      background:white;
      color: black;
      text-align: center;
      line-height: 40px;
      z-index: 1;
    }
    .slick-dots {
      display: flex !important;
      width: 124px;
      justify-content: center;
      align-items: center;
      list-style-type: none;
      gap: 10px;
      .slick-active{
        background: rgba(60, 95, 99, 1);
        border-radius: 50%;
        button{
          color: rgba(229, 228, 233, 1);
        }
      }
      li {
        width: 38px;
        height: 24px;
        padding: 8px 15px 8px 15px;

        text-align: center;
        button {

          color: #000;
          font-family: Inter;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          border: none;
          background: transparent;
          cursor: pointer;
        }
      }
    }
  }



  &--popular {
    display: flex;
    align-items: start;
    gap: 98px;
    padding-top: 50px;
    height: 400px;

  }
}
