#culture {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px 0;

    .container {
        margin-top: 20px;
        background: url("../../img/Culturebg.png") no-repeat center/cover;
        min-height: 100vh;
        background-size: contain;

        .culture {
            &--block {
                margin: 130px 785px 110px 27px;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 410px;
                height: 567px;
                border-radius: 5px;
                background: #FFF;
                box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);

                h1 {
                    margin-top: 18px;
                    color: #004A60;
                    text-align: center;
                    font-family: Abril Fatface, sans-serif;
                    font-size: 64px;
                    font-weight: 400;
                }

                p {
                    width: 275px;
                    color: #242424;
                    text-align: center;
                    font-family: Frank Ruhl Libre, sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    margin: 17px 0 35px 0;
                }

                &__box {
                    // display: flex;
                    // /* Устанавливаем вертикальное направление */
                    // align-items: center;

                    &--game1 {
                        display: flex;
                        align-items: center;

                        &__text {
                            width: 140px;
                            display: flex;
                            align-items: start !important;
                            flex-direction: column;
                            margin-right: 50px;

                            h3 {
                                color: var(--h-1, #004A60);
                                // text-align: center;
                                font-family: Frank Ruhl Libre, sans-serif;
                                font-size: 14px;
                                font-weight: 700;

                            }
                        }

                        &__icon {
                            width: 100px;
                            display: flex;
                            align-items: start;
                            flex-direction: column;

                            svg {
                                cursor: pointer;
                                font-size: 20px;
                                margin-left: 10px;
                            }

                        }


                    }

                }
            }
        }

    }
}


@media (max-width:1200px) {
    #culture {
        .container {
            .culture {
                &--block {
                    width: 323px;
                    height: 428px;

                    h1 {
                        font-size: 38px;
                    }

                    p {
                        width: 294px;
                        font-size: 12px;
                        margin-bottom: 20px;
                    }

                    &__box {
                        &--game1 {
                            h3 {
                                font-size: 12px;
                            }

                            svg {
                                font-size: 18px;
                            }
                        }

                        &--game2 {
                            h3 {
                                margin-right: 170px;
                                font-size: 12px;
                            }

                            svg {
                                font-size: 18px;
                            }
                        }

                        &--game3 {
                            h3 {
                                margin-right: 195px;
                                font-size: 12px;
                            }

                            svg {
                                font-size: 18px;
                            }
                        }

                        &--game4 {
                            h3 {
                                margin-right: 206px;
                                font-size: 12px;
                            }

                            svg {
                                font-size: 18px;
                            }
                        }

                        &--game5 {
                            h3 {
                                margin-right: 140px;
                                font-size: 12px;
                            }

                            svg {
                                font-size: 18px;
                            }
                        }

                        &--game6 {
                            h3 {
                                margin-right: 220px;
                                font-size: 12px;
                            }

                            svg {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}