.popular {
  display: flex;
  align-items: start;
  padding-bottom: 50px;

  &--card {
    width: 340px !important;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    position: relative;

    img {
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
    }

    &__bottom {
      padding: 10px 16px;

      h2 {
        color: var(--h-2, #242424);
        text-align: start;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 5px
      }

      &--center {
        display: flex;
        align-items: center;
        width: 180px;
        margin-left: 0;

        div {
          display: flex;
          gap: 2px;

          div {
            width: 9px;
            height: 9px;
            background: #3C5F63;
            border-radius: 50%;
          }

          div:nth-child(5) {
            background-color: transparent;
            background-image: conic-gradient(at 50% 0%, white 50%, #3C5F63 0);
            border-radius: 50%;
            position: relative;

            &::before {
              content: '';
              height: 50%;
              background-color: white;
              position: absolute;
              top: 0;

            }
          }

        }

        p {
          color: var(--grey-text, #5A5A5A);
          font-family: Montserrat;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%;
        }
      }

      &--icon {
        font-size: 24px;
        margin-left: 280px;
        cursor: pointer;
      }
    }

    &__icon {
      position: absolute;
      top: 12px;
      right: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background: white;
      border-radius: 50%;

      &--ai {
        font-size: 26px;
        color: deepskyblue;
        padding: 12px;

      }
    }
  }

  .slick-slider {
    width: 100%;
    height: 460px;
    .slick-prev {
      position: absolute;
      border: none;
      top: 94%;
      left: 41%;
      border-radius: 50%;
      background: black;
      color: black;
      cursor: pointer;

      &::before {
        opacity: 1;
        font-size: 25px;
        margin-left: -2.7px;
        margin-bottom: 3px;
        font-weight: 400;

      }

    }

    .slick-list {
      width: 100%;
      height: 400px;
      .slick-track {
        display: flex;
        width: 100%;

        .slick-slide {
          margin-left: 10px;
        }
      }

    }
    .slick-next {
      position: absolute;
      border: none;
      right: 42%;
      top: 94%;
      border-radius: 50%;
      background: black;
      color: black;
      cursor: pointer;

      &::before {
        opacity: 1;
        font-size: 25px;
        margin-left: -2.7px;

        font-weight: 400;

      }
    }

    .slick-dots {
      gap: 10px;
      justify-content: center;
      top: 90%;
      width: 144px;
      left: 44%;

      .slick-active {
        background: rgba(60, 95, 99, 1);
        border-radius: 50%;

        button {
          color: rgba(229, 228, 233, 1);
        }
      }

      li {

        list-style-type: none;
        width: 38px;
        height: 38px;


        text-align: center;

        button {
          display: flex;
          align-items: start;
          justify-content: center;
          color: #000;
          font-family: Inter;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          border: none;
          background: transparent;
          cursor: pointer;

          &::before {
            opacity: 0;
          }
        }
      }
    }


  }
}
