#kul{
  padding: 75px 0;
  .kul{
    &--first{
      display: flex;
      gap: 20px;
      &__title{
        h1{
          color: var(--h-1, #004A60);
          text-align: start;
          font-family: Abril Fatface;
          font-size: 64px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;

        }
        p{
          color: #242424;
          font-family: Frank Ruhl Libre;
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: 140%;
          letter-spacing: 1.2px;
        }
      }
    }
  }
}