#routes{
    background: url(../../img/routesImg1.png) no-repeat center/cover;
    height: 778px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    // margin-top: 100px;
    padding-top: 140px;
    height: 778px;
    .routes--search{
        height: 394px;
        width: 100% ;
        background: rgba(255, 255, 255, 0.74);
        display: flex;
        justify-content: start;
        flex-direction: column;
        align-items: center;
        .searching{
            display: flex;
            margin: 50px 0;
            .search1{
                margin: 0 20px 0 0;
                background: white;
                width: 304px;
                border-radius: 10px;
                border: 1px solid  #3C5F63;
                height: 64px;
                display: flex;
                justify-content: center;
                align-items: center;
                input{
                    width: 260px;
                    height: 44px;
                    outline: none;
                    border: none;
                    font-size: 20px;
                }
            }
            .search2{
                margin: 0 10px 0 0;
                background: white;
                width: 304px;
                height: 64px;
                border-radius: 10px;
                border: 1px solid  #3C5F63;
                display: flex;
                justify-content: center;
                align-items: center;
                input{
                    width: 260px;
                    height: 44px;
                    outline: none;
                    border: none;
                    font-size: 20px;
                }
            }
            button{
                margin: 0;
                width: 101px;
                height: 64px;
                background:#3C5F63;
                color: white;
                color: var(--bg-light-grey, #E5E4E9);
                text-align: center;
                font-family: Montserrat;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                border: none;
                border-radius: 10px;
                cursor: pointer;
            }
            button:hover{
                background:  #23393b;
                transition: 0.3s;
            }
        }
        .route-types{
            display: flex;
            justify-content: space-around;
            width: 70%;
            margin: 30px 0;
            .route-type{
                display: flex;
                flex-direction: column;
                align-items: center;
                h3{
                    color: var(--text-dark, #242424);
                    font-family: Inter;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%; 
                }
            }
        }
    }
}