@mixin color {
  color: var(--h-1, #004A60);
}

@mixin border {
  border: 1px solid var(--h-1, #004A60);
}

#header {
  width: 100%;
  height: 100px;
  backdrop-filter: blur(7.5px);
  background-color: rgba(255, 255, 255, 0.50);
 position: fixed;
z-index: 5;
  .header {
    display: flex;
    align-items: center;
    padding: 34px 0;

    &--center {
      display: flex;
      align-items: center;
      gap: 50px;

      h4 {
        @include color;
        font-family: Frank Ruhl Libre;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        cursor: pointer;

        &:active {
          color: var(--variant-color, #FEFFFF);
          font-family: Frank Ruhl Libre;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;

        }
      }
    }

    &--modal {
      position: absolute;
      background: rgba(255, 255, 255, 0.60);
      backdrop-filter: blur(7.5px);

      padding: 16px 41px;
     top: 100px;
      left: 25%;

      h2{
        color: var(--h-1, #004A60);
        font-family: Frank Ruhl Libre;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        cursor: pointer;
      }

    }

    &--right {
      display: inherit;
      gap: 51px;

      select {
        border-radius: 8px;
        @include border;
        padding: 8px 32px;
        background: transparent;
        color: var(--h-1, #004A60);
        font-family: Frank Ruhl Libre;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        outline: none;
        cursor: pointer;
      }

      &__log {
        button {
          border-radius: 8px;
          background: var(--h-1, #004A60);
          width: 125px;
          padding: 8px 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          color: #FFF;
          font-family: Frank Ruhl Libre;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          outline: none;
        }
      }

    }
  }
}