@mixin color {
  color: var(--h-1, #004A60);
}

@mixin border {
  border: 1px solid var(--h-1, #004A60);
}

#header {
  width: 100%;
  height: 100px;
  background: url("../../img/header.png") no-repeat center/cover;
  position: fixed;
  z-index: 5;


  .header {
    display: flex;
    align-items: center;

    position: relative;

    &--center {
      display: flex;
      align-items: center;
      gap: 50px;
      position: absolute;
      right: 385px;
      top: 33px;

      h4 {
        @include color;
        font-family: Frank Ruhl Libre;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        cursor: pointer;

        &:active {
          color: var(--variant-color, #FEFFFF);
          font-family: Frank Ruhl Libre;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;

        }
      }
    }

    &--modal {
      position: absolute;
      background: rgba(255, 255, 255, 0.60);
      backdrop-filter: blur(7.5px);

      padding: 16px 41px;
      top: 100px;
      left: 25%;

      h2 {
        color: var(--h-1, #004A60);
        font-family: Frank Ruhl Libre;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        cursor: pointer;
      }

    }

    &--right {
      display: inherit;
      gap: 31px;
      position: absolute;
      right: 0;
      top: 27px;

      select {
        border-radius: 8px;
        @include border;
        padding: 8px 11px;
        background: transparent;
        color: var(--h-1, #004A60);
        font-family: Frank Ruhl Libre;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        outline: none;
        cursor: pointer;
      }

      &__log {
        &--img {
          cursor: pointer;
        div{
          background: linear-gradient(to bottom, #87cefa, #007bff);
          border-radius: 50%;
          width: 47px;
          height: 47px;
          display: flex;
          justify-content: center;
          align-items: center;

          p {
            font-size: 24px;
            font-weight: 500;
            color: white;
            font-family: Roboto;
          }
        }
          img {
            border-radius: 50%;
            width: 47px;
            height: 47px;
          }
        }

        button {
          border-radius: 8px;
          background: var(--h-1, #004A60);
          width: 125px;
          padding: 8px 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          color: #FFF;
          font-family: Frank Ruhl Libre;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          outline: none;
          border: none;
          cursor: pointer;
        }
      }

    }
  }
}


@media (max-width: 1400px) {
  #header {
    width: 100%;
    .header {
      &--center {
        right: 350px;
      }
      &--right{
        // left: 800px;
        right: 15px;
      
      &--modal{
        left: 20%;
      }
    }
  }
}
@media (max-width:1200px) {
  #header{
    width: 86.3%;
    .header{
      &--center{
        // right: 200px;
        h4{
          font-size: 24px;
        }
      }
      &--right{
        right: 60px;
      }
    }
  }
}
}